version: '3.9'

services:
  db:
    image: postgres:latest
    container_name: db
    ports:
      - '5432:5432'
    env_file:
      - docker.env
    volumes:
      - postgres:/data/postgres

volumes:
  postgres:
    driver: local