services:
  db:
    container_name: db
    image: postgres:latest
    ports:
      - '5432:5432'
    env_file:
      - .docker.env
    volumes:
      - postgres:/data/postgres


volumes:
  postgres:
    driver: local